@import './mixins/color.scss';

.header {
  $height: 5rem;

  height: $height;
  background: color(light-grey);
  width: 100%;
  border-bottom: 1px solid color(medium-light-grey);

  &__logo {
    height: 100%;
    text-align: center;
    line-height: $height;
    font-size: 3rem;
    margin: 0;
    color: color(brand-violet);
  }
}
