.header {
  $height: 5rem;

  height: $height;
  background: #f9f9f9;
  color: #bd8cff;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;

  &__logo {
    height: 100%;
    text-align: center;
    line-height: $height;
    font-size: 3rem;
    margin: 0;
  }
}
